.root {
    --primary: #b6895b;
    --bg: #010101;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
    outline: none;
    text-decoration: none;
    }

    .body {
        font-family: 'Poppins', sans-serif;
        background-color: #0c8e88;
        color: #fff;
        min-height: 10000px; 
    }        

.h1 {

    font-size: 2rem;
    font-weight: 700;]
    color: #fff;
}